# Virtual environment
venv/

# macOS-specific
.DS_Store

# Environment variables
.env

# Python cache files
*.pyc
__pycache__/

# IDE-specific files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp